.carousel-item img{
    height: 350px!important;
}
.carousel{
    margin-top: 100px!important;
}
.carousel-item{
    margin-top: 30px!important;
}

#position {
    margin: -150px 0 0 0;
    position: relative;
    margin-bottom: 102px!important;
}